GLASS_TABLE="GLASS_LA_PLATA_13-04.xlsx"
ACCESORIOS_TABLE="ACCESORIOS_LA_PLATA_13-04.xlsx"
WANTED_GLASS_TABLE="WANTED_GLASS_LA_PLATA.xlsx"
WANTED_ACCESORIOS_TABLE="WANTED_ACCESORIOS_LA_PLATA.xlsx"
ORDER_GLASS_TABLE="ORDER_GLASS_LA_PLATA_{PROVIDER}.xlsx"
ORDER_ACCESORIOS_TABLE="ORDER_ACCESORIOS_LA_PLATA_{PROVIDER}.xlsx"
CONFIG_TABLE="CONFIG.xlsx"
GOOGLE_APPLICATION_CREDENTIALS="./credentials.json"